html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
}
body {
  background-color: #e5e5e5;
  min-width: 1200px;
  font-family: "Muller", sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"),
    url(../fonts/MullerRegular.woff2) format("woff2"),
    url(../fonts/MullerRegular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: local("Muller-Light"), url(../fonts/MullerLight.woff2) format("woff2"),
    url(../fonts/MullerLight.woff) format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"), url(../fonts/MullerMedium.woff2) format("woff2"),
    url(../fonts/MullerMedium.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* glob */
.ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.section-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #333333;
}
.section-offset {
<<<<<<< HEAD
  padding-top: 35px;
  padding-bottom: 35px;
=======
  padding: 35px;
>>>>>>> e6b534e7b8b322bc2ea35ddb275f5f08a4f9befe
}
.text {
  font-size: 16px;
  line-height: 200%;
}
.arrow-link {
  display: flex;

  color: #cc9933;
}
.btn {
  font-size: 16px;
  line-height: 16px;
  color: #cc9933;
  border: 1px solid #cc9933;
  border-radius: 10px;
}

/* header */

.header {
  padding: 30px 0;
}

.header-tel {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666666;
}

.header-account {
  font-size: 16px;
  line-height: 16px;
  color: #cc9933;
}

.header-account img{
  margin-right: 7px;
}

.menu-link {
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.header-bottom-btn {
  font-size: 16px;
  line-height: 16px;
  color: #cc9933;
  border: 1px solid #cc9933;
  border-radius: 10px;
  padding: 13px 20px;
}

.header-logo{
  margin-right: 34px;
}


.header-top {
  margin-bottom: 30px;
}


.header-contaier {
  align-items: center;
}

.header-info {
  margin-right: auto;
}

.header-bottom {
  align-items: center;
  padding: 22px 13px;
  background-color: #fff;
  border-radius: 15px;
}

.navigation {
  margin-right: auto;
}

.menu-item:last-child {
  margin-right: 45px;
}

.menu-item {
  margin-right: 45px;
}

.menu-item:first-child {
  margin-left: 45px;
}

.header-bottom-btn {
  margin-right: 45px;
}

/* specials */

.special-title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}

.special-card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 40px 45px;
  min-height: 258px;
  width: 573px;
}

.special-card:first-child {
  margin-bottom: 24px;
}

.special-card-big {
  background-size: 100%;
  display: flex;
  justify-content: flex-end;
  padding-left: 45px;
  margin-left: 24px;
  min-height: 540px;
}

.special-title-big {
  max-width: 299px;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  color: #fff;
}

.special-title {
  margin-bottom: 15px;
  width: 420px;
  flex-wrap: wrap;
  color: #fff;
}

.special-price {
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  opacity: 0.8;
  margin-bottom: 47px;
}

.special-price-big {
  font-size: 30px;
  line-height: 30px;
  opacity: 0.8;
}

.reset-list {
  flex-wrap: wrap;
}

.special-link {
  width: 101px;
  justify-content: space-between;
}

/* services */

.services-item {
  margin-bottom: 24px;
  max-width: 573px;
  min-height: 330px;
  background-color: #fff;
  border-radius: 15px 15px 15px 15px;
}

.services-item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.services-item-title,
.services-text {
  margin: 0;
  padding-top: 20px;
  padding-left: 45px;
}

.services-arrow-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
}
.services-arrow-link img {
  padding-left: 6px;
}
.services-text {
  width: 440px;
}

/* about */

.about-text {
  width: 888px;
}

/* benefits */

.benefit-card {
  width: 276px;
  min-height: 276px;
  background-color: #fff;
  margin-bottom: 22px;
  padding: 40px;
  border-radius: 15px;
}
.benefit-card:not(:nth-child(4n)) {
  margin-right: 22px;
}

.benefit-text {
  padding-top: 76px;
  background-repeat: no-repeat;
  background-size: 64px 66px;
  width: 189px;
}

/* hotels */
.hotel-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 30px;
  max-width: 376px;
}

.hotels-list {
  display: flex;
}

.hotel-title {
  font-size: 16px;
  line-height: 16px;
}

.hotel-price-from {
  font-size: 16px;
  line-height: 16px;
  color: #999999;
}

.hotel-price-number {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.hotel-text-night {
  font-size: 16px;
  line-height: 16px;
  margin-right: 54px;
}

.hotel-text {
  padding-left: 45px;
}

.hotel-image {
  width: 370px;
  border-radius: 15px 15px 0 0;
}

.hotel-item {
  min-height: 440px;
  background-color: #fff;
  margin-bottom: 30px;
  border-radius: 15px;
}

.hotel-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.hotel-item:nth-child(3n) {
  padding-right: auto;
}

.hotel-place {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #999999;
}

.hotels-show-more {
  background-size: 374px 440px;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 370px;
  min-height: 440px;
  border-radius: 15px;
}

.hotels-show-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: #fff;
}

.hotels-btn {
  min-width: 100px;
  margin: 0;
  margin-top: 20px;
  margin-left: 45px;
  padding: 13px 20px;
}

.hotels-show-link img {
  padding-left: 16px;
}

